.base_do_container{
  width: 1318px;
  height: 502px; 
  margin-top: 50px;
  margin-left: 12px;
  background-color: rgba(72, 255, 0, 0);
  display: flex;
  justify-content: start;
  align-items: center;

}




img{
  width: 230px;  opacity: 30%;
  
}

img:hover{
transition-duration:0.2s ;  
opacity: 100%;
width: 250px;

}


.card{
  margin-left: 15px; 
}


.efeito{ 

 outline: 0;
  height: 30px;
  width: auto;
  height: auto;
  filter: saturate(10%); /* saturação da imagem*/

  background-color: rgba(10, 34, 141, 0);
  border-color:red;

 
}

.efeito:hover{

  filter: saturate(100%); /* saturação da imagem*/
  background-color: black;
  transition-duration:0.4s;
  
}

